<div align="center" class="c">
<div class="row">
    <div  class="col-sm-6 col-md-3" *ngFor="let p of pokemon">
      <div id="cuadro"class="pokemones">
      <img [ngClass]="{'hidden': !p.imageLoaded}" class="pokedex-pokemon-sprite" (load)="p.imageLoaded = true" [attr.src]="p.sprite">
      <div class="pokedex-pokemon-id">
          <h3>{{ p.name | capitalize }}</h3>
      </div>
    </div>
    </div>
  </div>
</div>
  <button id="mar" class="btn btn-success" (click)="loadMore()" [disabled]="isLoading">
    <span *ngIf="!error">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">Load more</span>
    </span>
    <span *ngIf="error">
      Loading failed
    </span>
  </button>
