body {
    background: #7EABA6;
    background: -moz-linear-gradient(left, #7EABA6 100%, #7EABA6 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(131,206,163,1)), color-stop(100%, rgba(131,206,163,1)));
    background: -webkit-linear-gradient(left, #7EABA6 100%, #7EABA6 100%);
    background: -o-linear-gradient(left, #7EABA6 100%, #7EABA6 100%);
    background: -ms-linear-gradient(left, #7EABA6 100%, #7EABA6 100%);
    background: linear-gradient(to right, #7EABA6 100%, #7EABA6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1efdd', endColorstr='#83cea3', GradientType=1 );
    
}

.navbar{
    position:absolute;
    width:100%;
    background-color:rgba(255,255,255,.85);
}
.navbar img{
    margin:10px auto;
    display:block;
    
}
footer{
    background-color:#1B356A;
    color:#fff;
    padding:20px;
}